<!DOCTYPE html>
<html lang="en">

<style>

.header {
  width: 60%;
  height: 120px;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 5px solid gray;
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  width: 60%;
  margin: 0 auto;
}

.card {
  width: 60%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 5px solid gray;
  box-sizing: border-box;
}

#block {
  background-color: #fff9f5;
}

</style>

<head>
    <div class="header" id="block">
        <h1>Edit Entry</h1>
    </div>
    <div class="topnav" id="block">
        <a href="{% url 'home' %}">Home</a>
    </div>
</head>

<body>

    <section class="card" id="block">
        <div class="container">

            <form method="POST" action="">
                {% csrf_token %}
                <div class="field">
                    <div class="title">
                        {{ form.title }}
                    </div>
                </div>
                <div class="field">
                    <div class="text">
                        {{ form.text }}
                    </div>
                </div>
                <div>
                    <div class="submit">
                        <input type="submit" name="Edit Entry">
                    </div>
                </div>
            </form>

        </div>
    </section>

    <footer class="footer">
    </footer>

</body>

</html>

